/*/ FUNDO E FONTE /*/

body, html {
    height: 100%;
    margin: 0;
    background-color: #1b1b1b;
}

*{
    font-family: Ubuntu Mono;
    color: #F49DA6A5;
    font-size: 18px;
    text-align: center;
    text-transform: none;
}

/*/ SELEÇÃO DE TEXTO /*/

::-moz-selection { background: #E4848A5c; }
::selection { background: #E4848A5c; }

/*/ LINK /*/

a {
    text-decoration: none;
}

/*/ PESQUISA /*/

#input {
	background: rgba(0, 66, 65, 0);
    padding: 1px;
    border: none;
    width: 80%;
    height: 100%;
}

/*/ BOX /*/
#lineT {
    width: 100%;
    border-top: 3px solid #E4848AD1;
    position: absolute;
    top: 0%;
}

#lineB {
    width: 100%;
    border-bottom: 3px solid #E4848AD1;
    position: absolute;
    bottom: 0%;
}

#box {
    position: absolute;
    border: 2px solid #E4848A6B;
    margin-left: auto;
    margin-right: auto;
    right: 0;
    left: 0;
    width: 75%;
    height: 8%;
    top: 42%;
}