/*/ FUNDO E FONTE /*/

body, html {
    height: 100%;
    margin: 0;
    background-color: #1b1b1b;
}

*{
    font-family: Roboto Mono;
    color: #e0e0e0A7;
    font-size: 13px;
    text-align: center;
    text-transform: lowercase;
}

/*/ SELEÇÃO DE TEXTO /*/

::-moz-selection { background: #228c225c; }
::selection { background: #228c225c; }

/*/ LINK /*/

a {
    text-decoration: none;
}

/*/ PESQUISA /*/

#input {
	background: rgba(0, 66, 65, 0);
    padding: 1px;
    text-align: center;
    border: none;
    border-bottom: 2px solid #228c2296;
    width: 20%;
    height: 30px;
}

/*/ BOX /*/
#line {
    height: 80%;
    width: 80%;
    border: 8px solid #228c2296;
    position: absolute;
    margin-left: auto;
	margin-right: auto;
    left: 0;
	right: 0;
    top: 9%;
}


#box {
    font-size: 15px;
    color: #228c2296;
    position: absolute;
    margin-left: auto;
	margin-right: auto;
    left: 0;
	right: 0;
    text-align: center;
    width: 100%;
    top: 35%;
}

#nuclear {
    font-size: 180px;
    color: #ffffff17;
    position: absolute;
    margin-left: auto;
	margin-right: auto;
    left: 0;
	right: 0;
    text-align: center;
    width: 100%;
    top: 10%;
}
