/*/ FUNDO E FONTE /*/

body, html {
    height: 100%;
    margin: 0;
    background-color: #1b1b1b;
}

*{
    font-family: Ubuntu Mono;
    color: #048257A5 ;
    font-size: 18px;
    text-align: center;
    text-transform: none;
}

/*/ SELEÇÃO DE TEXTO /*/

::-moz-selection { background: #0C3A265c; }
::selection { background: #0C3A265c; }

/*/ PESQUISA /*/

#input {
	background: rgba(0, 66, 65, 0);
    padding: 1px;
    border: none;
    width: 93%;
    height: 100%;
}

#box {
    position: absolute;
    border: 2px solid #0C3A26;
    margin-left: auto;
    margin-right: auto;
    right: 0;
    left: 0;
    width: 65%;
    height: 7.7%;
    top: 42.1%;
}

#txL {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    right: 65%;
    left: 0;
    top: 38%;
    font-size: 105px;
    color: #0C3A26;
}

#txR {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    right: 0;
    left: 65%;
    top: 38%;
    font-size: 105px;
    color: #0C3A26;
}


/*/ BOX /*/
#lineT {
    width: 100%;
    border-top: 3px solid #048257D1;
    position: absolute;
    top: 0%;
}

#lineT2 {
    width: 100%;
    border-top: 4px solid #0C3A26D1;
    position: absolute;
    top: 0.3%;
}

#lineB {
    width: 100%;
    border-bottom: 3px solid #048257D1;
    position: absolute;
    bottom: 0%;
}

#lineB2 {
    width: 100%;
    border-bottom: 4px solid #0C3A26D1;
    position: absolute;
    bottom: 0.3%;
}